@import "../../variables.scss";
@import "../../mixins.scss";

.problem {
  height: 80px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 22px;
  border-radius: $small-border-radius;
  background: $color-white;
  position: relative;
  @include flex(column, center, unset);

  .status-indicator {
    position: absolute;
    width: 12px;
    height: 100%;
    background: $color-green;
    left: 0;
    top: 0;
    border-bottom-left-radius: $small-border-radius;
    border-top-left-radius: $small-border-radius;
  }

  .problem-name {
    font-size: 20px;
    color: $color-dark-gray;
    margin-bottom: 8px;
  }

  .problem-info {
    font-size: 12px;
    color: $color-light-gray_2;

    & span {
        margin-right: 10px;
        
        &:last-of-type{
          display: none;
        }
    }

  
  }
}

@media (min-width: 1024px){
  .problem {
    height: 7.81vw; //120px
    margin-bottom: 1.30vw; //20px
    padding-left: 4.55vw; //70px
    border-radius: 0.65vw; //10px
    transition: .2s ease-in-out;

    &:hover{
      cursor: pointer;
      transform: translateY(-5px);
      transition: .15s ease-in-out;
      box-shadow: $box-shadow;
    }

    .status-indicator {
      position: absolute;
      width: 2.60vw; //40px
      height: 100%;
      background: $color-green;
      left: 0;
      top: 0;
      border-bottom-left-radius: 0.65vw; //10px
      border-top-left-radius: 0.65vw; //10px
    }

    .problem-name {
      font-size: 1.69vw; //26px
      color: $color-dark-gray;
      margin-bottom: 0.65vw; //10px
    }
  
    .problem-info {
      font-size: 1.17vw; //18px
      color: $color-light-gray_2;
  
      & span {
          margin-right: 1.30vw; //20px

          &:last-of-type{
            display: inline;
          }
      }

    }
  }


}
