@import "../../variables.scss";
@import "../../mixins.scss";

.issue {
  height: 100vh;
  background: $background;
  padding: 20px;
}

@media (min-width: 1024px) {
  .issue {
    @include flex(row, center, center);
  }
}
