@import "../../variables.scss";
@import "../../mixins.scss";

.report-issue {
  height: 100vh;
  background: $background;
  overflow-y: auto;
  padding: 20px;
}

@media (min-width: 1024px) {
  .report-issue {
    @include flex(row, center, center);
  }
}
